<!--
  The Side Bar
-->

<div id="sidebar" class="d-flex flex-column align-items-end">
  <div class="profile-wrapper text-center">
    <div id="avatar">
      <a href="{{ '/' | relative_url }}" class="mx-auto">
        {% if site.avatar != empty and site.avatar %}
          {% capture avatar_url %}
            {% if site.avatar contains '://' %}
              {{ site.avatar }}
            {% elsif site.img_cdn != empty and site.img_cdn %}
              {{ site.avatar | prepend: site.img_cdn }}
            {% else %}
              {{ site.avatar | relative_url }}
            {% endif %}
          {% endcapture %}
          <img src="{{ avatar_url | strip }}" alt="avatar" onerror="this.style.display='none'">
        {% endif %}
      </a>
    </div>

    <div class="site-title mt-3">
      <a href="{{ '/' | relative_url }}">{{ site.title }}</a>
    </div>
    <div class="site-subtitle font-italic">{{ site.tagline }}</div>

  </div><!-- .profile-wrapper -->

  <ul class="w-100">

    <!-- home -->
    <li class="nav-item{% if page.layout == 'home' %}{{ " active" }}{% endif %}">
      <a href="{{ '/' | relative_url }}" class="nav-link">
        <i class="fa-fw fas fa-home ml-xl-3 mr-xl-3 unloaded"></i>
        <span>{{ site.data.locales[lang].tabs.home | upcase }}</span>
      </a>
    </li>
    <!-- the real tabs -->
    {% for tab in site.tabs %}
    <li class="nav-item{% if tab.url == page.url %}{{ " active" }}{% endif %}">
      <a href="{{ tab.url | relative_url }}" class="nav-link">
        <i class="fa-fw {{ tab.icon }} ml-xl-3 mr-xl-3 unloaded"></i>
        {% capture tab_name %}{{ tab.url | split: '/' }}{% endcapture %}

        <span>{{ site.data.locales[lang].tabs.[tab_name] | default: tab.title | upcase }}</span>
      </a>
    </li> <!-- .nav-item -->
    {% endfor %}

  </ul> <!-- ul.nav.flex-column -->














  
<!-- --------------------------------------------mar.04.2024 music button-------------------------------------------------- -->
<!-- 음악 제어 버튼 추가 -->
<div id="music-controls" style="text-align: center;">
  <img id="musicGif" src="https://media.tenor.com/15YUsMWt4FEAAAAj/music.gif" alt="Music GIF" style="display: inline-block; width: 50px; height: 50px; margin-top: 12px;">
  <button id="playButton" onclick="playMusic()" style="display: inline-block; margin-top: 10px; font-size: 14px;">Play</button>
  <button id="pauseButton" onclick="pauseMusic()" style="display: inline-block; margin-top: 10px; font-size: 14px;">Pause</button>
  <button id="nextButton" onclick="nextMusic()" style="display: inline-block; margin-top: 10px; font-size: 14px;">Next</button>
</div>

<!-- JavaScript 코드 -->
<script>
  var audio = new Audio();
  var mp3Urls = [
    'https://raw.githubusercontent.com/YOUR_GITHUB_USERNAME/YOUR_REPO_NAME/main/MP3_FILE_PATH_1',
    'https://raw.githubusercontent.com/YOUR_GITHUB_USERNAME/YOUR_REPO_NAME/main/MP3_FILE_PATH_2',
    'https://raw.githubusercontent.com/YOUR_GITHUB_USERNAME/YOUR_REPO_NAME/main/MP3_FILE_PATH_3',
    'https://raw.githubusercontent.com/YOUR_GITHUB_USERNAME/YOUR_REPO_NAME/main/MP3_FILE_PATH_4',
    'https://raw.githubusercontent.com/YOUR_GITHUB_USERNAME/YOUR_REPO_NAME/main/MP3_FILE_PATH_5'
  ];

  var isPlaying = false;
  var currentTrack = 0;

  // 초기 음악 파일의 URL을 설정
  audio.src = mp3Urls[currentTrack];

  // 음악 재생 함수
  window.playMusic = function () {
    audio.play();
    isPlaying = true;
    updateButtons();
  };

  // 음악 일시 정지 함수
  window.pauseMusic = function () {
    audio.pause();
    isPlaying = false;
    updateButtons();
  };

  // 다음 음악으로 이동 함수
  window.nextMusic = function () {
    currentTrack = (currentTrack + 1) % mp3Urls.length;
    audio.src = mp3Urls[currentTrack];
    
    if (isPlaying) {
      audio.play();
    }
    updateButtons();
  };

  // 버튼 상태 업데이트 함수
  function updateButtons() {
    var playButton = document.getElementById('playButton');
    var pauseButton = document.getElementById('pauseButton');
    playButton.disabled = isPlaying;
    pauseButton.disabled = !isPlaying;
  }
</script>
<!------------------------------------------ ---------------------- ...------------------------------------- -->




  <div class="sidebar-bottom mt-auto d-flex flex-wrap justify-content-center align-items-center">

    {% unless site.theme_mode %}
      <button class="mode-toggle btn" aria-label="Switch Mode">
        <i class="fas fa-adjust"></i>
      </button>

      {% if site.data.contact.size > 0 %}
        <span class="icon-border"></span>
      {% endif %}
    {% endunless %}

    {% for entry in site.data.contact %}
      {% capture url %}
        {%- if entry.type == 'github' -%}
          https://github.com/{{ site.github.username }}
        {%- elsif entry.type == 'twitter' -%}
          https://twitter.com/{{ site.twitter.username }}
        {%- elsif entry.type == 'email' -%}
          {% assign email = site.social.email | split: '@' %}
          javascript:location.href = 'mailto:' + ['{{ email[0] }}','{{ email[1] }}'].join('@')
        {%- elsif entry.type == 'rss' -%}
          {{ "/feed.xml" | relative_url }}
        {%- else -%}
          {{ entry.url }}
        {%- endif -%}
      {% endcapture %}

      {% if url %}
      <a href="{{ url }}" aria-label="{{ entry.type }}"
        {% unless entry.noblank %}target="_blank" rel="noopener"{% endunless %}>
        <i class="{{ entry.icon }}"></i>
      </a>
      {% endif %}

    {% endfor %}

  </div> <!-- .sidebar-bottom -->

</div><!-- #sidebar -->