<!-- Get 5 last posted/updated posts -->


<!-- 2024-05-10             포트폴리오 링크 추가           -->
<!-- <div style="display: flex; justify-content: center; align-items: center;">
  <a href="https://www.notion.so/joonk2/6ef428c33fd94581a0f4c533639f741d">
    <img id="musicGif" src="https://github.com/joonk2/mySvg/blob/main/portfolio.gif?raw=true" alt="Music GIF" style="width: 200px; height: 200px;">
  </a>
</div>




<style>
  /* 여기에 CSS 스타일을 추가합니다. */
  .panel-heading {
    margin-bottom: 20px; /* 패널 제목 아래에 여백을 추가합니다. */
  }

  .content li {
    margin-bottom: 10px; /* 리스트 아이템들 사이의 여백을 추가합니다. */
  }
</style> -->














{% assign MAX_SIZE = 1 %}

{% assign all_list = '' | split: '' %}

{% for post in site.posts %}
  {% assign datetime = post.last_modified_at | default: post.date %}

  {% capture elem %}
    {{- datetime | date: "%Y%m%d%H%M%S" -}}::{{- forloop.index0 -}}
  {% endcapture %}

  {% assign all_list = all_list | push: elem %}
{% endfor %}

{% assign all_list = all_list | sort | reverse %}

{% assign update_list = '' | split: '' %}

{% for entry in all_list limit: MAX_SIZE %}
  {% assign update_list = update_list | push: entry %}
{% endfor %}

{% if update_list.size > 0 %}
  <section id="access-lastmod">
    <h2 class="panel-heading">{{- site.data.locales[include.lang].panel.lastmod -}}</h2>
    <ul class="content list-unstyled ps-0 pb-1 ms-1 mt-2">
      {% for item in update_list %}
        {% assign index = item | split: '::' | last | plus: 0 %}
        {% assign post = site.posts[index] %}
        {% assign url = post.url | relative_url %}
        <li class="text-truncate lh-lg">
          <a href="{{ url }}">{{ post.title }}</a>
        </li>
      {% endfor %}
    </ul>
  </section>
  <!-- #access-lastmod -->
{% endif %}